/* src/planet/SpaceContainer/SpaceContainer.css */

.space-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

/* 캔버스 공통 스타일 */
.stars-canvas,
.planet-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stars-canvas {
  z-index: 1;
}

.planet-canvas {
  z-index: 2;
}